<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Maruthi</key>
	<array>
		<string>Baleno</string>
		<string>Swift</string>
		<string>Breeza</string>
		<string>Ciaz</string>
	</array>
	<key>BMW</key>
	<array>
		<string>BMW X3</string>
		<string>BMW 1</string>
		<string>BMW i8</string>
		<string>BMW X1</string>
	</array>
	<key>VolksWagen</key>
	<array>
		<string>WW Polo</string>
		<string>WW Vento</string>
		<string>WW GTI</string>
	</array>
	<key>Audi</key>
	<array>
		<string>Audi S5</string>
		<string>Audi RS7</string>
		<string>Audi Q7</string>
		<string>Audi Q3</string>
		<string>Audi A4</string>
	</array>
</dict>
</plist>
